<h1>My Collection</h1>
<div class="row">
<% if current_user.collections.empty? %>
  <p>You have not added any items to your collection yet.</p>
<% else %>
  <% current_user.collections.each do |collection| %>
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">
        <%= link_to image_tag("http://via.placeholder.com/125x200"), collection.story %>
        <div class="caption text-center">
          <%= link_to collection.story.title, collection.story %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>